mixin b-footer()
	+b.FOOTER.footer
		.container
			+e.row
				+e.col_1
					+e.H4.title Contact Center
					+b.NAV.nav_footer
						+e.UL.list
							+e.LI.item
								+e.A.link(href="#") DHL Express
							+e.LI.item
								+e.A.link(href="#") DHL Parcel & eCommerce
							+e.LI.item
								+e.A.link(href="#") DHL Global Forwarding
							+e.LI.item
								+e.A.link(href="#") DHL Freight
							+e.LI.item
								+e.A.link(href="#") DHL Supply Chain
				+e.col_2
					+e.H4.title About Us
					+b.NAV.nav_footer
						+e.UL.list
							+e.LI.item
								+e.A.link(href="#") Partnerships
							+e.LI.item
								+e.A.link(href="#") Company Portrait
							+e.LI.item
								+e.A.link(href="#") DHL Global Forwarding
							+e.LI.item
								+e.A.link(href="#") Green Solutions
							+e.LI.item
								+e.A.link(href="#") Innovation
				+e.col_3
					+e.H4.title Social Media
					+b.NAV.nav_footer
						+e.UL.list
							+e.LI.item
								+e.A.link_social-media(href="#") Facebook
							+e.LI.item
								+e.A.link_social-media(href="#") dribbble
							+e.LI.item
								+e.A.link_social-media(href="#") behance
							+e.LI.item
								+e.A.link_social-media(href="#") gmail
							+e.LI.item
								+e.A.link_social-media(href="#") twitter